<div class="container service">
  <article>
    <h1>Check out our <strong>Laundry Limo</strong> Service </h1>

    <ul>
      <li class="featured">
        <p><strong>Free Home Pick Up & Delivery</strong> <br>
          Let's just check "Pick up/Drop off Dry Cleaning" off your TODO list. To take advantage of this service, please download and complete the form - then submit in store. 
        </p>
        <a href="assets/laundry_limo.pdf">LAUNDRY LIMO<img src="assets/pdf.png" alt="PDF file"></a>
      </li>
      <li>
        <p><strong>Dry Cleaning</strong> <br>
          Can't read the tag? We've got your back.
        </p>
      </li>
      <li>
        <p><strong>Laundered Shirts & Linen</strong>
          <br>
          Enough said.
        </p>
      </li>
      <li>
        <p><strong>Press Only</strong>
          <br>
          We'll get all the right creases in all the right places.
        </p>
      </li>
      <li>
        <p><strong>Bedding</strong><br>
          Comforters, duvets, quilts, whatever it is - our beastly machines can handle it.
        </p>
      </li>
      <li>
        <p><strong>Same day service*</strong><br>
          Bring your items in before <strong>8:30am</strong> and they'll be ready by <strong>5:30pm</strong>. We know, we're awesome.
          <br>
          <span class="tiny">*Varies by location, ask for details.</span>
        </p>
      </li>
      <li>
        <p><strong>Curb side pick up </strong> <br>
          You drove all this way to see us, the least we can do is meet you half way. Text us when you get here.
        </p>
      </li>
    </ul>
  </article>
</div>



<div class="footer">
  <div class="deets">
      <p>9212 Fry Rd <br> Suite 155  <br>  Cyrpress, Texas 77433</p>

      <p class="hours">
        <strong>Mon - Fri:</strong> 7am - 7pm <br>
        <strong>Sat:</strong> 8am - 3pm <br>
        <strong>Sun:</strong> CLOSED
      </p>
  </div>

  <div class="icons">
    <a class="btn" href="tel:7138182406">
      <i class="fas fa-phone"></i>
    </a>

    <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=9212+Fry+Rd,+Cypress,+TX+77433/" class="btn">
      <i class="fas fa-map-marker"></i>
    </a>

    <a class="btn" href="mailto:mcfrugalscypress@gmail.com">
      <i class="far fa-envelope"></i>
    </a>

    <a target="_blank" href="https://www.facebook.com/McFrugals-Dry-Clean-Depot-Cypress-425932627811247/" class="btn">
      <i class="fab fa-facebook-f"></i>
    </a>
    
  </div>
</div>