
<div class="container about">
  

  <article class="small">
    <h1>We offer <strong>more</strong> than just cleaning</h1>

    <div class="summary flex">
      <figure>
        <img src="assets/store.jpg" alt="Inside the cleaners">
        <!-- <img src="../../../assets/familyDesk.jpg" alt="Family photo"> -->
        <figcaption>Our Cypress location</figcaption>
      </figure>

      <div class="summary__copy">      

        <p>McFrugal’s Dry Clean Depot is a family owned and operated business and we pride ourselves on being a value cleaner that provides fine dry cleaning at reasonable prices.</p>
    
        <p>Your clothing & dry cleaning items are never outsourced, all cleaning is done at our production plant using green solvents & chemicals. We pride ourselves on quality cleaning that is professionally handled and always smells good.</p>
    
        <p>Your convenience is our focus which is why we provide curbside pick up & drop off as well as home pick up and delivery through our very own Laundry Limo.</p> 

        <a href="/services" class="btn">Laundry Limo Service</a>
      
      </div>
    </div>

  </article>
</div>



<div class="footer">
  <div class="deets">
      <p>9212 Fry Rd <br> Suite 155  <br>  Cyrpress, Texas 77433</p>

      <p class="hours">
        <strong>Mon - Fri:</strong> 7am - 7pm <br>
        <strong>Sat:</strong> 8am - 3pm <br>
        <strong>Sun:</strong> CLOSED
      </p>
  </div>

  <div class="icons">
    <a class="btn" href="tel:7138182406">
      <i class="fas fa-phone"></i>
    </a>

    <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=9212+Fry+Rd,+Cypress,+TX+77433/" class="btn">
      <i class="fas fa-map-marker"></i>
    </a>

    <a class="btn" href="mailto:mcfrugalscypress@gmail.com">
      <i class="far fa-envelope"></i>
    </a>

    <a target="_blank" href="https://www.facebook.com/McFrugals-Dry-Clean-Depot-Cypress-425932627811247/" class="btn">
      <i class="fab fa-facebook-f"></i>
    </a>
    
  </div>
</div>