<div class="main-container">

  <nav>
    <ul class="navbar" [ngClass]="menu ? 'open' : 'close'">
      <span class="navbar__menu" 
        [ngClass]="menu ? 'open' : 'close'"
        (click)="toggleMenu()"
      ></span>

      <a 
        class="navbar__logo"
        [routerLink]="['home']"
        [routerLinkActive]="['active']"
      ><img src="assets/logo.png" alt="logo"></a>

      <!-- <span class="navbar__logo">
          <img src="assets/logo.png" alt="logo">
      </span> -->

      <!-- <li> -->
        <a
        (click)="toggleMenu()"  
        class="navbar__link"
        [routerLink]="['home']"
        [routerLinkActive]="['active']"
        >
        <!-- <i class="material-icons">home</i> -->
        HOME
        </a>
      <!-- </li>
      <li> -->
        <a
        (click)="toggleMenu()"  
        class="navbar__link"
        [routerLink]="['/about']"
        [routerLinkActive]="['active']"
        >
        <!-- <i class="material-icons">about</i> -->
        ABOUT
        </a>
      <!-- </li>
      <li> -->
        <a
        (click)="toggleMenu()"  
        class="navbar__link"
        [routerLink]="['/services']"
        [routerLinkActive]="['active']"
        >
        <!-- <i class="material-icons">about</i> -->
        SERVICES
        </a>
      <!-- </li>
      <li> -->
        <a
        (click)="toggleMenu()"  
        class="navbar__link"
        [routerLink]="['/contact']"
        [routerLinkActive]="['active']"
        >
        <!-- <i class="material-icons">about</i> -->
        CONTACT
        </a>
      <!-- </li> -->
    </ul>
  </nav>

  <div [@routerTransition]="getState(o)">
    <router-outlet  #o="outlet"></router-outlet>
  </div>


</div>