<div class="container contact">
  

  <article>
    <h1> Come  say <strong>Hi</strong></h1>
    
    <h3>Cypress Location</h3>
    <div class="deets">
      <p>9212 Fry Rd <br> Suite 155  <br>  Cyrpress, Texas 77433</p>

      <p class="hours">
        <strong>Mon - Fri:</strong> 7am - 7pm <br>
        <strong>Sat:</strong> 8am - 3pm <br>
        <strong>Sun:</strong> CLOSED
      </p>


    </div>

    <div class="icons">
      <a class="btn" href="tel:7138182406">
        <i class="fas fa-phone"></i>
        <!-- <span>7138182406</span> -->
      </a>

      <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=9212+Fry+Rd,+Cypress,+TX+77433/" class="btn">
        <i class="fas fa-map-marker"></i>
        <!-- <span>9212 FRY RD SUITE 155 CYPRESS, TEXAS 77433</span> -->
      </a>

      <a class="btn" href="mailto:mcfrugalscypress@gmail.com">
        <i class="far fa-envelope"></i>
        <!-- <span>mcfrugalscypress@gmail.com</span> -->
      </a>

      <a target="_blank" href="https://www.facebook.com/McFrugals-Dry-Clean-Depot-Cypress-425932627811247/" class="btn">
        <i class="fab fa-facebook-f"></i>
        <!-- <span>Follow us on Facebook</span> -->
      </a>
      
    </div>

    <!-- <p>Check us out on <a target="_blank" href="https://www.facebook.com/McFrugals-Dry-Clean-Depot-Cypress-425932627811247/">Facebook</a></p>
    <p>Call us <br> <a href="tel:7138182406">713.818.2406</a></p>
    <p>You can always reach us at <br> <a href="mailto:mcfrugalscypress@gmail.com">MCFRUGALSCYPRESS@GMAIL.COM</a></p>
    <p>Drop by, we love visitors <br> <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=9212+Fry+Rd,+Cypress,+TX+77433/">9212 FRY RD SUITE 155 CYPRESS, TEXAS 77433</a></p>     -->
    <!-- <img class="border" src="../../../assets/map.jpg" alt="Map"> -->
    <img class="border" src="assets/map.jpg" alt="Map">
  </article>

  <article class="sister-locations">
    <h3>Check out our <strong>sister</strong> locations</h3>

    <div class="card">
      <img src="" alt="">
      <p class="card__title">Cross Creek</p>
      <p>832.589.2885</p>
      <p>5929 FM 1463 #160, <br> Katy, TX 77494
      </p>

      <div class="card__actions">
          <a  href="tel:8325892885">
              CALL
            </a>
      
            <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=5929+FM+1463+%23160,+Katy,+TX+77494" >
              DIRECTIONS
            </a>      
      </div>
    </div>

    <div class="card">
      <img src="" alt="">
      <p class="card__title">Sienna Plantation</p>
      <p>713.502.0722</p>
      <p>6210 Sienna Pkwy, <br> Missouri City, TX 77459
      </p>


      <div class="card__actions">
        <a  href="tel:7135020722">
            CALL
          </a>
    
          <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=6210+Sienna+Pkwy,+Missouri+City,+TX+77459" >
            DIRECTIONS
          </a>      
      </div>
    </div>
  </article>
  
</div>


<div class="footer">
  <div class="deets">
      <p>9212 Fry Rd <br> Suite 155  <br>  Cyrpress, Texas 77433</p>

      <p class="hours">
        <strong>Mon - Fri:</strong> 7am - 7pm <br>
        <strong>Sat:</strong> 8am - 3pm <br>
        <strong>Sun:</strong> CLOSED
      </p>
  </div>

  <div class="icons">
    <a class="btn" href="tel:7138182406">
      <i class="fas fa-phone"></i>
    </a>

    <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=9212+Fry+Rd,+Cypress,+TX+77433/" class="btn">
      <i class="fas fa-map-marker"></i>
    </a>

    <a class="btn" href="mailto:mcfrugalscypress@gmail.com">
      <i class="far fa-envelope"></i>
    </a>

    <a target="_blank" href="https://www.facebook.com/McFrugals-Dry-Clean-Depot-Cypress-425932627811247/" class="btn">
      <i class="fab fa-facebook-f"></i>
    </a>
    
  </div>
</div>