<div class="banner">
  <article>
    <img src="assets/logo.png" alt="logo">
    <!-- <img src="../../../assets/logo.png" alt="logo"> -->
    <p class="center" >DRY CLEAN DEPOT</p>   
    <p class="center">Receive $10 off first visit*</p>

    <p class="hours">
      Mon - Fri: 7am - 7pm <br>
      Sat: 8am - 3pm <br>
      Sun: CLOSED
    </p>

    <p class="tiny">*$10 off discount applies to new customers only and varies by location.</p>
  </article>

</div>

<div class="footer">
  <div class="deets">
      <p>9212 Fry Rd <br> Suite 155  <br>  Cyrpress, Texas 77433</p>

      <p class="hours">
        <strong>Mon - Fri:</strong> 7am - 7pm <br>
        <strong>Sat:</strong> 8am - 3pm <br>
        <strong>Sun:</strong> CLOSED
      </p>
  </div>

  <div class="icons">
    <a class="btn" href="tel:7138182406">
      <i class="fas fa-phone"></i>
    </a>

    <a target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=9212+Fry+Rd,+Cypress,+TX+77433/" class="btn">
      <i class="fas fa-map-marker"></i>
    </a>

    <a class="btn" href="mailto:mcfrugalscypress@gmail.com">
      <i class="far fa-envelope"></i>
    </a>

    <a target="_blank" href="https://www.facebook.com/McFrugals-Dry-Clean-Depot-Cypress-425932627811247/" class="btn">
      <i class="fab fa-facebook-f"></i>
    </a>
    
  </div>
</div>
