$primary: #66B73C;
$primary-dark: #1B5E20;
$grey: #212121;
$brown: #3E2723;


// text colors
$gray: #424242;
$gray--light: #757575;
$gray--dark: #212121;

$green: #2E7D32;
$green--light: #43A047;
$green--dark: #1B5E20; 
$green--accent: #00C853;


$header: 'Rufina', serif;
$copy: 'Roboto', sans-serif;


// Roboto:500,500i,700,900

$tiny: 450px;
$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;